services:
  app:
    container_name: clevio-ai-staff
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_BACKEND_API_URL=${NEXT_PUBLIC_BACKEND_API_URL}
        - NEXT_PUBLIC_PAYMENT_WEBHOOK_URL=${NEXT_PUBLIC_PAYMENT_WEBHOOK_URL}
        - NEXT_PUBLIC_WHATSAPP_BACKEND_URL=${NEXT_PUBLIC_WHATSAPP_BACKEND_URL}
        - NEXT_PUBLIC_MCP_SERVER_URL=${NEXT_PUBLIC_MCP_SERVER_URL}
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.clevio.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.clevio.entrypoints=web,websecure
      - traefik.http.routers.clevio.tls=true
      - traefik.http.routers.clevio.tls.certresolver=mytlschallenge
      - traefik.http.services.clevio.loadbalancer.server.port=${SERVICE_PORT}
      - traefik.docker.network=${TRAEFIK_NETWORK}
    env_file:
      - .env
    networks:
      - traefik

networks:
  traefik:
    external: true
    name: ${TRAEFIK_NETWORK}
